body {
    background-color: lightgrey;
}

h4 {
    color: #07b08c;
}

h5 {
    color: #0bcca2;
}

.navbar {
    background-color: white;
}

.container-fluid#body {
    background-color: lightgrey;
    padding-top: 50px;
    width: auto;
}

.navbar-brand {
    background-color: #07b08c;
    padding: 10px;
    font-family: cursive;
    font-weight: bold;
}

.col-12#main {
    background-color: white;
    margin: 30px;
    padding: 30px;
}

#left-card {
    background-color: white;
    margin: 15px;
    width: 50%;
}

#right-card {
    background-color: white;
    margin: 15px;
    width: 30%;
    height: 100%;
}

#comp, #vis {
    width: 50%;
}

.current {
    border: 2px solid rgb(57, 195, 241);
}

@media (max-width: 767px) {
    .navbar {
        background-color: #07b08c;
    }

    .w-0 {
        width: 100%;
    }

    .container-fluid#body {
        padding: 0;
        margin: 0;
    }

    #left-card, #right-card {
        margin: 0;
        width: 100%;
        border: 0;
    }

    #vis {
        width: 25%;
    }

    #comp {
        width: 100%;
    }
}